<!-- <p>Signin works!</p> -->

<div class="m-2">
  <h2>{{screen}}</h2>
  <div>

    <form class="row g-3">
      <div class="col-md-6">
        <label for="inputFirstName" class="form-label">First Name</label>
        <input [(ngModel)]="cUser.fname" name="first" type="text" class="form-control" id="inputFirstName">
      </div>
      <div class="col-md-6">
        <label for="inputLastName" class="form-label">Last Name</label>
        <input [(ngModel)]="cUser.lname" name="last" type="text" class="form-control" id="inputLastName">
      </div>
      <div class="col-md-6">
        <label for="inputUsername" class="form-label">Username</label>
        <input [(ngModel)]="cUser.username" name="username" type="text" class="form-control" id="inputUsername">
      </div>
      <div class="col-md-6">
        <label for="inputEmail4" class="form-label">Email</label>
        <input [(ngModel)]="cUser.email" name="email" type="email" class="form-control" id="inputEmail4">
      </div>
      <div class="col-md-6">
        <label for="inputPassword4" class="form-label">Password</label>
        <input [(ngModel)]="cUser.pwd" name="password" type="password" class="form-control" id="inputPassword4">
      </div>
      <div class="col-12 d-flex justify-content-center">
        <button type="submit" class="btn btn-primary" (click)="registerUser()">Register</button>
      </div>
      <div *ngIf="clientMessage.message.length > 0" class=" alert alert-success" role="alert">
        {{clientMessage.message}}
      </div>

    </form>

  </div>

</div>
