<div>

  <div>
    <h2 class="card-header text-center">Flashcard Viewer</h2>
  </div>

  <div class="card-body" *ngIf="!cardIsFlipped">

    <figure class="text-center">
      <blockquote class="blockquote">
        <p>This is where the flashcard's question will display.</p>
      </blockquote>
      <figcaption class="blockquote-footer">
        And maybe with a little more context down here as well. Who knows! Let's get wavy with it!
      </figcaption>
    </figure>


  </div>

  <div class="card-body" *ngIf="cardIsFlipped">

    <ul class="list-unstyled">
      <li>This is the answer for the flashcard. It can be short or relatively long, so we're going to have to figure out a clever way of wrapping the text so it doesn't go out of bounds or look bad. Ya know what I mean?.</li>
      <br/>
      <li>This can be where we can add an example of the answer to help further elaborate the point that was getting across</li>
      <br/>
      <li>A URL to a further resource could also be relatively helpful. That would be located here:</li>
      <br/>
      <li>Nested lists (I haven't decided what to do with the list yet. I'll give that a minute of thought):
        <ul>
          <li>are unaffected by this style</li>
          <li>will still show a bullet</li>
          <li>and have appropriate left margin</li>
        </ul>
      </li>
      <li>This may still come in handy in some situations.</li>
    </ul>

  </div>

</div>

<!-- Create a second form that will be hidden until the button is pressed. After, the first form is hidden and the second shows -->
<button type="submit" class="btn btn-primary" (click)="flipFlashcard()">Flip Flashcard!</button>

<button type="submit" class="btn btn-primary" (click)="flipFlashcard()"> <= </button>
<button type="submit" class="btn btn-primary" (click)="flipFlashcard()"> => </button>


