<div>

  <div>
    <h2 class="card-header text-center">Flashcard Viewer</h2>
  </div>

  <div class="card-body">

    <figure class="text-center">
      <blockquote class="blockquote">
        <p>This is where the flashcard's question will display.</p>
      </blockquote>
      <figcaption class="blockquote-footer">
        And maybe with a little more context down here as well. Who knows! Let's get wavy with it!
      </figcaption>
    </figure>

    <!-- Create a second form that will be hidden until the button is pressed. After, the first form is hidden and the second shows -->
    <button type="submit" class="btn btn-primary">Flip Flashcard!</button>

  </div>

  <div class="card-body">

    <ul class="list-unstyled">
      <li>This is a list.</li>
      <li>It appears completely unstyled.</li>
      <li>Structurally, it's still a list.</li>
      <li>However, this style only applies to immediate child elements.</li>
      <li>Nested lists:
        <ul>
          <li>are unaffected by this style</li>
          <li>will still show a bullet</li>
          <li>and have appropriate left margin</li>
        </ul>
      </li>
      <li>This may still come in handy in some situations.</li>
    </ul>

  </div>

</div>



